@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, sans-serif;
  }

  h1 {
    @apply text-4xl font-bold text-primary;
  }

  h2 {
    @apply text-3xl font-bold text-primary;
  }

  h3 {
    @apply text-2xl font-bold text-primary;
  }

  h4 {
    @apply text-xl font-bold text-primary;
  }

  h5 {
    @apply text-lg font-bold text-primary;
  }

  h6 {
    @apply text-base font-bold text-primary;
  }

  p {
    @apply text-base;
  }

  /*  .btn-secondary {
    @apply border-secondary text-primary font-bold py-2 px-4 rounded border-2;
  } */
}

@layer components {
  .btn {
    @apply transition duration-700 text-white border-2 px-10 py-1;
  }
  .btn-primary {
    @apply bg-primary border-primary text-white rounded-[4px] px-3 py-1;
  }

  .btn-primary:hover {
    @apply bg-primary border-primary;
  }

  .btn-primary-outline {
    @apply border-primary text-primary bg-transparent;
  }

  .btn-primary-outline:hover {
    @apply bg-primary border-primary text-white;
  }

  .btn-secondary {
    @apply bg-secondary border-secondary text-white;
  }

  .btn-secondary:hover {
    @apply bg-secondary border-secondary;
  }

  .btn-secondary-outline {
    @apply bg-transparent border-secondary text-secondary;
  }
  .btn-secondary-outline:hover {
    @apply bg-secondary border-secondary text-white;
  }

  .btn-error-outline {
    @apply bg-transparent border-error text-error;
  }
  .btn-error-outline:hover {
    @apply bg-error text-white border-error;
  }
}

@layer layout {
  .container {
    @apply max-sm:mx-[1rem] sm:mx-[2.5rem] md:mx-[3rem] lg:mx-[4rem] xl:mx-[12rem] py-[5rem];
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffb921;
  padding: 4rem;
}

.swiper-pagination-bullet {
  background-color: #ffb921;
}

.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active),
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):active) {
  background-color: #133a5e;
}

.radio-primary {
  color: #133a5e;
}

.radio-primary:checked,
.radio-primary[aria-checked="true"] {
  --tw-bg-opacity: 1;
  border: 2px solid #133a5e;
  background-color: #133a5e;
  color: #133a5e;
}

.radio-primary:focus-visible {
  outline: 2px solid #abadae;
}

.radio:focus-visible {
  outline: 2px solid #133a5e;
  outline-offset: 2px;
}

.radio {
  border-color: #abadae;
}

.steps .step-primary + .step-primary:before,
.steps .step-primary:after {
  --tw-bg-opacity: 1;
  background-color: #133a5e;
  --tw-text-opacity: 1;
  color: white;
}

/* .swiper-container {
  width: 480px;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 100%;
  }
} */

svg#freepik_stories-delivery-address:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-delivery-address.animated
  #freepik--background-simple--inject-13 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0s;
}
svg#freepik_stories-delivery-address.animated #freepik--Buildings--inject-13 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}
svg#freepik_stories-delivery-address.animated #freepik--Plants--inject-13 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}
svg#freepik_stories-delivery-address.animated #freepik--Device--inject-13 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0s;
}
svg#freepik_stories-delivery-address.animated #freepik--Character--inject-13 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedLeft;
  animation-delay: 0s;
}
svg#freepik_stories-delivery-address.animated #freepik--Floor--inject-13 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedRight;
  animation-delay: 0s;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes lightSpeedLeft {
  from {
    transform: translate3d(-50%, 0, 0) skewX(20deg);
    opacity: 0;
  }
  60% {
    transform: skewX(-10deg);
    opacity: 1;
  }
  80% {
    transform: skewX(2deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes lightSpeedRight {
  from {
    transform: translate3d(50%, 0, 0) skewX(-20deg);
    opacity: 0;
  }
  60% {
    transform: skewX(10deg);
    opacity: 1;
  }
  80% {
    transform: skewX(-2deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.hScroll {
  overflow-y: hidden !important;
  overflow: hidden !important;
  overscroll-behavior: none !important;
  max-height: max-content !important;
}

::selection 
{
background-color: #133a5e;
color:#fff;

}