@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, sans-serif;
  }

  h1 {
    @apply text-4xl font-bold text-primary;
  }

  h2 {
    @apply text-3xl font-bold text-primary;
  }

  h3 {
    @apply text-2xl font-bold text-primary;
  }

  h4 {
    @apply text-xl font-bold text-primary;
  }

  h5 {
    @apply text-lg font-bold text-primary;
  }

  h6 {
    @apply text-base font-bold text-primary;
  }

  p {
    @apply text-base;
  }

  /*  .btn-secondary {
    @apply border-secondary text-primary font-bold py-2 px-4 rounded border-2;
  } */
}

@layer components {
  .btn {
    @apply transition duration-700 text-white border-2 px-10 py-1;
  }
  .btn-primary {
    @apply bg-primary border-primary text-white rounded-[4px] px-3 py-1;
  }

  .btn-primary:hover {
    @apply bg-primary border-primary;
  }

  .btn-primary-outline {
    @apply border-primary text-primary bg-transparent;
  }

  .btn-primary-outline:hover {
    @apply bg-primary border-primary text-white;
  }

  .btn-secondary {
    @apply bg-secondary border-secondary text-white;
  }

  .btn-secondary:hover {
    @apply bg-secondary border-secondary;
  }

  .btn-secondary-outline {
    @apply border-secondary text-secondary;
  }
  .btn-secondary-outline:hover {
    @apply bg-secondary border-secondary text-white;
  }

  .btn-error-outline {
    @apply border-error text-error;
  }
  .btn-error-outline:hover {
    @apply bg-error text-white border-error;
  }
}

@layer layout {
  .container {
    @apply max-sm:mx-[1rem] sm:mx-[2.5rem] md:mx-[3rem] lg:mx-[4rem] xl:mx-[12rem] py-[5rem];
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffb921;
  padding: 4rem;
}

.swiper-pagination-bullet {
  background-color: #ffb921;
}

.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active),
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):active) {
  background-color: #133a5e;
}

.radio-primary {
  color: #133a5e;
}

.radio-primary:checked,
.radio-primary[aria-checked="true"] {
  --tw-bg-opacity: 1;
  border: 2px solid #133a5e;
  background-color: #133a5e;
  color: #133a5e;
}

.radio-primary:focus-visible {
  outline: 2px solid #abadae;
}

.radio:focus-visible {
  outline: 2px solid #133a5e;
  outline-offset: 2px;
}

.radio {
  border-color: #abadae;
}

.steps .step-primary + .step-primary:before,
.steps .step-primary:after {
  --tw-bg-opacity: 1;
  background-color: #133a5e;
  --tw-text-opacity: 1;
  color: white;
}

/* .swiper-container {
  width: 480px;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 100%;
  }
} */
